.badge
{
	margin: 2px;
	font-size: 100%;
}

label
{
	font-size: 150%;
	color: white;
}

.centrar{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 80%;
}

footer{
	position: fixed; 
	bottom: 0; 
	width: 100%;
}
footer a{
	text-decoration: none;
	color: #3DBEDA;
	transition: color 0.3s linear;
	font-weight: bold;
}

footer a:hover{
	color: #FFFFFF;
}